.notFound-image{
    width: 50%;
    margin: 10px auto;
    text-align: center;
}
.back-home{
    width: 50%;
    margin: 10px auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.back-home a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.not-found-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

@media only screen and (max-width: 550px) {
    .notFound-image{
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
    
}