.get-in-touch-container {
    margin-top: 30px;
}

textarea {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.submit-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-div{
    margin: 20px auto;
    text-align: center;
}