.service {
    border: 1px solid rgb(214, 212, 212);
    text-align: center;
    padding-bottom: 20px;
}
h4{
    margin-top: 10px;
}
.service-description {
    padding: 0 20px;
}
.service-price{
    color: #048d08;
}
strong{
    font-size: 18px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }