.navbar-link a {
    margin: 0 10px;
    padding: 0;
    text-decoration: none;
    color: white;
}

.navbar-link a:hover {
    text-decoration: underline rgb(11, 216, 11);
    text-underline-offset: 0.5em;
    color: darkorange;
}

/* .Sticky-top{
    position: fixed;
    width: 100%;
} */
/* div {
    position: fixed;
    top: 0;
} */